@charset "utf-8";

@font-face {
    font-family: 'JejuH';
    src: url('../fonts/JejuHallasan.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'JejuG';
    src: url('../fonts/JejuGothic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'JejuM';
    src: url('../fonts/JejuMyeongjo.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}




