@charset "utf-8";

#hd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 1px solid #03A66A;
}

#hd .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log img {
    height: 60px;
    width: auto;
}

.gnb:before{
    content: "";
    display: block;
    width: 100vw;
    height: 0;
    overflow-y: hidden;
    background-color: #E4F2F1;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 62px;
    transition: 0.6s;
}

.gnb:hover::before {
    height: 120px;
}

.gnb .menu {
    display: flex;
    height: 90px;
    gap: 20px;
}

.gnb .menu > li {
    min-width: 150px;
    text-align: center; 
}

.gnb .menu a.dp1 {
    font-size: 20px;
    font-weight: 600;
}

.gnb .menu > li:hover a.dp1 {
    color: #03A66A;
}

.gnb .sub {
    position: absolute;
    top: 40px;
    left: calc(50% - 215px);
    z-index: 100;
    transition: 0.6s;
    width: 800px;
    height: 0px;
    overflow-y: hidden;
}

.gnb .menu > li:hover .sub {
    height: 120px;
}

.gnb .menu > li .sub li {
    padding: 60px 30px;
    padding-left: 0;
    float: left;
}

.gnb .menu > li .sub li a:hover {
    color: #F27405;
    font-weight: 900;
}
