@charset "utf-8";

@font-face {
    font-family: 'Hansuwon';
    src: url('./fonts/hansuwon_handotum_R.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hansuwon_b';
    src: url('./fonts/hansuwon_handotum_b.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Hansuwon_h';
    src: url('./fonts/hansuwon_hanring_R.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'gyeongi_title';
    src: url('./fonts/gyeonggi_title_Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'gyeongi_title';
    src: url('./fonts/gyeonggi_title_Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'gyeongi_title';
    src: url('./fonts/gyeonggi_title_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gyeonggi_batang';
    src: url('./fonts/gyeonggi_batang_Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'gyeonggi_batang';
    src: url('./fonts/gyeonggi_batang_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}