@charset "utf-8";

.p1_wrap {
    clear: both;
    width: 100%;
    min-width: 320px;
}

.p1box {
    width: 100%;
}

.page1 {
    clear: both;
}


.p1_bg_box {
    width: 300vw;
    display: flex;
    transition: 0.8s;
}

.p1_bg_box>li {
    clear: both;
    display: flex;
    width: 100vw;
    height: 90vh;
}

.p1_bg_box::before {
    content: "";
    position: relative;
}

.p1_bg {
    margin-top: 620px;
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
}

.p1_bg_box h3 {
    margin-left: 240px;
    font-weight: 900;
    text-align: center;
    color: white;
    font-family: 'gyeonggi_batang';
    font-size: 120px;
    text-shadow: 2px 2px 0 #333;
}

.p1_bg_box a {
    font-family: 'gyeonggi_batang';
    text-align: center;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 0 #333;
}

.p1_bg_box a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 0 #333;
}

.p1_bg_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.btn_box {
    position: absolute;
    left: 0;
    bottom: 3%;
    z-index: 10;
    width: 100%;
    height: 24px;
}

.btn_wrap {
    width: 80px;
    margin: 0 auto;
    display: flex;
}

.p1_btn {
    margin: 5px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #333;
    box-shadow: 1px 1px #333;
    cursor: pointer;
}
.ra {
    display: none;
}

#ra1:checked~.p1_bg_box {
    margin-left: 0vw;
}

#ra2:checked~.p1_bg_box {
    margin-left: -100vw;
}

#ra3:checked~.p1_bg_box {
    margin-left: -200vw;
}

#ra1:checked~.btn_box #p1_btn1 {
    background-color: #030A8C;
}

#ra2:checked~.btn_box #p1_btn2 {
    background-color: #030A8C;
}

#ra3:checked~.btn_box #p1_btn3 {
    background-color: #030A8C;
}